<div class="group">
    <h1>Normal directory</h1>
    <div appNormalMethod>Normal directory implimented to this text (it not work for all the time)</div>    
</div>

<div class="group">
    <h1>better/Render directive</h1>
    <h3 appRenderDirective>better/rendered directive implemented to this text</h3>
</div>

<div class="group">
    <h1>mouse event using hoslistener</h1>
    <h3 appMouseeventDirective>mouse event effect applied to this test</h3>
</div>

<div class="group">
    <h1>mouse + css property binding direcive using hostBining</h1>
    <h3 appCsspropertyDirective>css property binding effect applied to this text </h3>
</div>

<div class="group">
    <h1>property binding direcive using hostBining</h1>
    <h3 appPropertybindingDirective [defaultColor]="'red'" [changeColor]="'blue'"> property binding effect applied to this text </h3>
    <p>another way is=</p>
    <h3 appPropertybindingDirective defaultColor="orange" changeColor="white">property binding effect applied to this text</h3>
</div>