<app-game-on></app-game-on>'
<div class="container">
  <div class="row">
    <div class="col-sm-3 text-bg-primary m-1">
      <p>ODD numbers</p>
    </div>
    <div class="col-sm-4"></div>
    <div class="col-sm-3 text-bg-dark m-1">
      <p>Even numbers</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3 text-bg-primary m-1">
      <app-odd-num></app-odd-num>
    </div>
    <div class="col-sm-4"></div>
    <div class="col-sm-3 text-bg-dark m-1">
      <app-even-num></app-even-num>
    </div>
  </div>
</div>