<div *ngIf="recipe !== undefined;else elseUndefined">
<div class="row">
    <div class="col-xs-12">
        <img [src]="recipe.imagePath" [alt]="recipe.name" class="img-responsive" style="max-height: 300px;">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>{{recipe.name}}</h1>
    </div>
</div>
<div class="row">
    <div class="col- xs-12">
        <div class="btn-group" appDropdownDirective>
            <button type="button" class="btn btn-primary dropdown-toggle">
                Manage Recipe <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a (click)="ingService.addIngFromReciptToShopping(recipe.Ingredent)">To shopping list</a></li>
                <li><a >Edit Recipe</a></li>
                <li><a >Delete recipe</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        {{recipe.description}}
    </div>
    <div class="col-xs-12">
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let ing of recipe.Ingredent">{{ing.name}} - {{ing.amount}}</li>
        </ul>
    </div>
</div>
</div>
<ng-template #elseUndefined>
<h3>Select any one recipe in the list </h3>
</ng-template>